#!/usr/bin/env ruby
# OpenTelemetry instrumentation for {{.ServiceName}}

require 'opentelemetry-api'
require 'opentelemetry-sdk'
require 'opentelemetry-exporter-otlp'
{{range .Instrumentations}}
require 'opentelemetry-instrumentation-{{.}}'
{{end}}

OpenTelemetry::SDK.configure do |c|
  c.service_name = '{{.ServiceName}}'
  {{range .Instrumentations}}
  c.use 'OpenTelemetry::Instrumentation::{{.}}'
  {{end}}
end


